---
layout: default
pagination:
  enabled: true
  author: maria
  debug: true
---

<div class='o-wrapper'>

  <div class='o-grid js-grid'>
    {% for post in paginator.posts %}
        {% include post-card.html %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>