---
layout: portal
pagination:
  enabled: false
  debug: true
---

<div class='o-wrapper'>

  <div class='o-grid js-grid'>
  <!-- Hero post-->
  {% include post-big.html post=site.data.main-page.main-post %}

  <!-- Featured post-->
  {% include post-featured.html post=site.data.main-page.featured-post %}


  </div>
  <div class='o-grid'>

  <!-- Featured post-->
  {% assign first-section = site.data.main-page.first-section %}
  {% assign first-section-posts = site.posts | where_exp: "item","item.tags contains first-section.tag-1 or item.tags contains first-section.tag-2 or item.tags contains first-section.tag-3 or item.tags contains first-section.tag-4 or item.tags contains first-section.tag-5" %}
  {% include post-section.html section-name=first-section.name section-posts=first-section-posts maxrelated=site.data.main-page.maxrelated %}

  <!-- Featured post-->
  {% assign second-section = site.data.main-page.second-section %}
  {% assign second-section-posts = site.posts | where_exp: "item","item.tags contains second-section.tag-1 or item.tags contains second-section.tag-2 or item.tags contains second-section.tag-3 or item.tags contains second-section.tag-4 or item.tags contains second-section.tag-5" %}
  {% include post-section.html section-name=second-section.name section-posts=second-section-posts maxrelated=site.data.main-page.maxrelated %}

  <!-- Featured post-->
  {% assign third-section = site.data.main-page.third-section %}
  {% assign third-section-posts = site.posts | where_exp: "item","item.tags contains third-section.tag-1 or item.tags contains third-section.tag-2 or item.tags contains third-section.tag-3 or item.tags contains third-section.tag-4 or item.tags contains third-section.tag-5" %}
  {% include post-section.html section-name=third-section.name section-posts=third-section-posts maxrelated=site.data.main-page.maxrelated %}

  </div>
</div>