<div style="position:relative;overflow:hidden;text-align:center;">
  <iframe src="{{ include.iframe-url }}" width="120" height="240" scrolling="no" border="0" marginwidth="0" style="border:none;min-width:120px;max-height:240px;" frameborder="0">
  </iframe>
</div>

