<div class="o-grid__col o-grid__col--center">
  <div style="position:relative;overflow:hidden;margin-left:auto;margin-right:auto;margin-bottom:10px;">
    <a href="{{ include.link-url }}" target="_blank" rel="noopener"><img alt="banner" width='728' height='90' src="{{ include.image-url }}" style="border: 1px solid rgba(0, 0, 0, 0.03);max-height: 90px;margin-bottom: 5px;"></a>
    </iframe>
  </div>
</div>
