<div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--1-3-l'>
  <button class='c-btn c-btn--full js-load-disqus' onclick='disqus(); return false;'>Comentarios</button>
</div>

<hr>

<div id='disqus_thread'></div>
<script>
  var disqus_shortname = 'madrescabreadas';

  // DON'T EDIT BELOW THIS LINE
  var disqus_config = function () {
    this.page.url = '{{ site.url }}{{ page.url}}';
  };

  function disqus() {
    var d = document, s = d.createElement('script');

    s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);

    document.getElementsByClassName('js-load-disqus')[0].setAttribute('disabled', '');
    document.getElementsByClassName('js-load-disqus')[0].classList.add('c-btn--disabled');
  }
</script>
<noscript>Por favor active JavaScript para ver los <a href='https://disqus.com/?ref_noscript' rel='nofollow'>comentarios.</a></noscript>
