
<footer class='c-footer'>

  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <div class='footer-container'>
      <p class='u-font-medium'>Premios</p>
      <a href="{{ site.baseurl }}{% link _pages/premios.md %}" class="c-post-card__image js-fadein" style="background-size:unset;background-image: url(/images/premio_comunicacion.png)"></a>
      </div>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <div class='footer-container'>
      <p class='u-font-medium'>Revista de prensa</p>
      <a href="{{ site.baseurl }}/tag/revistadeprensa" class="c-post-card__image js-fadein" style="background-size:unset;background-image: url(/images/pages/maria-radio.jpg);"></a>
      </div>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <div class='footer-container'>
        <p class='u-font-medium'>Suscríbete:Regalo e-book</p>
        {% include subscribe-form.html %}
      </div>
    </div>
  </div>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-footer__bottom'>
        <div class='o-grid'>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
            <div class='u-font-tiny c-footer__copyright'>
              {{ site.time | date: '%Y' }} {{ site.title }}
            </div>
            <div class='u-font-tiny c-footer__copyright'>
	            <a href="{{ site.baseurl }}{% link _pages/legalidad.md %}">Aviso legal, Política de privacidad y cookies</a>
	          </div>
          </div>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
            {% include social-icons.html %}
          </div>

        </div>
      </div>
    </div>

  </div>
</footer>
