<header class='c-header'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--3-4-s o-grid__col--4-4-m'>
      <div class='c-logo'>
        {% if site.logo %}
          <a href='{{ site.baseurl }}/'>
            <img width='462' height='128' class='c-logo__img' src='{{ site.logo }}' alt='{{ site.title }}'>
          </a>
        {% else %}
          <a class='c-logo__link' href='{{ site.baseurl }}/'>{{ site.title }}</a>
        {% endif %}
      </div>
    </div>

    <div class='o-grid__col o-grid__col--1-4-s o-grid__col--3-4-l o-grid__col--full'>
      <div class='c-off-canvas-content js-off-canvas-content'>
        <label class='js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close'>
          <span class='c-off-canvas-toggle__icon'></span>
        </label>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--3-4-l o-grid__col--full'>
            <nav class='c-nav-wrap'>
              <ul class='c-nav o-plain-list'>
                {% include navigation.html %}
                <li class='c-nav__item'>
                  <a class='toggle-search-button js-search-toggle' href='#' aria-label='Search'>
                    <span class='c-nav__icon' data-icon='ei-search' data-size='s'></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      {% include social-icons.html %}
      <label class='js-off-canvas-toggle c-off-canvas-toggle' aria-label='Ver'>
        <span class='c-off-canvas-toggle__icon'></span>
      </label>
    </div>

  </div>
</header>

{% include search-form.html %}


{% include banner-image-728x90.html image-url="/images/banner_talleres_colegios.png" link-url="https://www.granviaabogados.com/divulgacion/" %}
