<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/' class='c-nav__link'>Inicio</a>
</li>

<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/blog/' class='c-nav__link_pink'>Blog personal</a>
</li>


<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/tag/podcast/' class='c-nav__link'>Podcast</a>
</li>

<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/tag/mecabrea/' class='c-nav__link'>Nos cabrea</a>
</li>

<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/invitados/' class='c-nav__link'>Invitadas</a>
</li>

<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/tag/vlog/' class='c-nav__link'>Vlog</a>
</li>

{% for page in site.pages %}
  {% if page.navigation == true %}
    {% if page.title %}
      <li class='c-nav__item'>
        <a href='{{ page.url | prepend: site.baseurl }}' class='c-nav__link'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endif %}
{% endfor %}

<li class='c-nav__item' style='color: rgb(249, 182, 164)'>
  <a href='https://gmail.us20.list-manage.com/subscribe/post?u=10d9dc33eda90af955f11574d&id=38e71df09c' class='c-nav__link c-nav__link_blue'>Me suscribo</a>
</li>



