{% if paginator.next_page %}
  <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--1-3-l'>
    <div class='c-pagination'>
        <button class='c-btn c-btn--full js-load-posts'>Ver más</button>
    </div>
  </div>
{% endif %}
