<div class='c-post-hero'>
  <div class='o-grid _o-grid--full'>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-3-l'>
      <div class='c-post-hero__media'>
        <div class='c-post-hero__image js-fadein' style='background-image: url({{ page.image | prepend: site.baseurl }})'>
        </div>
      </div>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--1-3-m'>
      <div class='c-post-hero__content'>
        <h1 itemprop="name" class='c-post-hero__title'>{{ page.title }}</h1>
        <time itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}" class='c-post-hero__date' datetime='{{ page.date | date: '%d %b %Y' }}'>{% include locale-date-short.html date=page.date %}
        </time>
          <div class="c-post-hero__date" style="text-transform: none; letter-spacing: normal;font-style: italic;">
            Tiempo de lectura:
            {% assign words = content | number_of_words %}
            {% if words < 360 %}
              1'
            {% else %}
              {{ words | divided_by:180 }}'
            {% endif %}
          </div>
      </div>
    </div>

  </div>
</div>