{% include base_path %}
<div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-post-card-wrap js-post-card-wrap'>

  <div class='c-post-card-section'>
        <div class='c-post-card-section__tags'>
          {{ include.section-name }}
      </div>
      {% for post in include.section-posts limit: 1 %}

      <div class='c-post-card-section-minipost'>
    <div class='c-post-card-section__media'>

      <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card-section__image js-fadein' style='background-image: url({{ post.image | prepend: site.baseurl }})'>
      </a>
    </div>


    <div class='c-teaser'>
          <h3 class='c-teaser__title'>
        <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card__title-link'>
          {{ post.title }}
        </a>
      </h3>

      <div class='c-post-card__meta'>
        <!-- <time class='c-post-card__date' datetime='{{ post.date | date_to_xmlschema }}' title='{% include locale-date-short.html date=post.date %}'>{% include locale-date-short.html date=post.date %}</time> -->
      </div>
    </div>
      {% endfor %}


    <div class='c-post-card-section__content'>
      {% for post in include.section-posts limit: include.maxrelated offset: 1 %}
            <a href='{{ post.url }}' class='c-teaser'>
        <div class='c-teaser__content'>
          <h3 class='c-teaser__title'>{{ post.title }}</h3>
          <!-- <time class='c-teaser__date' datetime='{{ post.date | date: '%d %b %Y' }}' title='{% include locale-date-short.html date=post.date %}'>{% include locale-date-short.html date=post.date %}</time> -->
        </div>
        {% if post.image %}
          <div class='c-teaser__media'>
            <div class='c-teaser__image js-fadein' style='background-image: url({{ post.image | prepend: site.baseurl }})' aria-label='{{ post.title }}'></div>
          </div>
        {% endif %}
      </a>

    {% endfor %}

    </div>
      </div>
  </div>
</div>
