{% include base_path %}
<div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-post-card-wrap js-post-card-wrap'>

  <div class='c-post-card'>
    <div class='c-post-card__media'>
      <a href='{{ include.post.url | prepend: site.baseurl }}' class='c-post-card__image js-fadein' style='background-image: url({{ include.post.image | prepend: site.baseurl }})'>

      </a>
    </div>

    <div class='c-post-card__content'>
      <h3 class='c-post-card__title'>
        <a href='{{ include.post.url | prepend: site.baseurl }}' class='c-post-card__title-link'>
          {{ include.post.title }}
        </a>
      </h3>

      <div class='c-post-card__meta'>
        <time class='c-post-card__date' datetime='{{ include.post.date | date_to_xmlschema }}' title='{% include locale-date-short.html date=include.post.date %}'>{% include locale-date-short.html date=include.post.date %}</time>
      </div>
    </div>
  </div>

</div>
