{% include base_path %}

<ul class='c-share o-plain-list'>
  <li class='c-share__item'>
    <a class='c-share__link c-share__link--twitter'
        title='Compartir en Twitter'
        href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ base_path }}{{ page.url }}"
        onclick="window.open(this.href, 'twitter-share', 'width=550, height=235'); return false;">
      <div data-icon='ei-sc-twitter' data-size='s' class='c-share__icon c-share__icon--twitter'></div>
    </a>
  </li>

  <li class='c-share__item'>
    <a class='c-share__link c-share__link--facebook'
        title='Compartir en Facebook'
        href="https://facebook.com/sharer.php?u={{ base_path }}{{ page.url }}"
        onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;">
      <div data-icon='ei-sc-facebook' data-size='s' class='c-share__icon c-share__icon--facebook'></div>
    </a>
  </li>

  <li class='c-share__item'>
    <a class='c-share__link c-share__link--pinterest'
        title='Compartir en Pinterest'
        href="http://pinterest.com/pin/create/button/?url={{ base_path }}{{ page.url }}&description={{ page.title | url_encode}}"
        onclick="window.open(this.href, 'google-share', 'width=580, height=296'); return false;">
      <div data-icon='ei-sc-pinterest' data-size='s' class='c-share__icon c-share__icon--pinterest'></div>
    </a>
  </li>

  <li class='c-share__item'>
    <a class='c-share__link c-share__link--whatsapp'
        title='Compartir en Whatsapp'
        href="https://wa.me/?text={{ page.title | url_encode}}%20{{ base_path }}{{ page.url }}"
        onclick="window.open(this.href, 'google-share', 'width=580, height=296'); return false;">
      <div data-icon='ei-sc-whatsapp' data-size='s' class='c-share__icon c-share__icon--pinterest'></div>
    </a>
  </li>
</ul>