<ul class='c-social-icons o-plain-list'>
  {% if site.twitter %}
    <li>
      <a href='{{ site.twitter }}' target='_blank' rel='noopener'>
        <span class='c-social-nav__icon' data-icon='ei-sc-twitter' data-size='s'></span>
      </a>
    </li>
  {% endif %}
  {% if site.instagram %}
    <li>
      <a href='{{ site.instagram }}' target='_blank' rel='noopener'>
        <span class='c-social-nav__icon' data-icon='ei-sc-instagram' data-size='s'></span>
      </a>
    </li>
  {% endif %}
  {% if site.linkedin %}
    <li>
      <a href='{{ site.linkedin }}' target='_blank' rel='noopener'>
        <span class='c-social-nav__icon' data-icon='ei-sc-linkedin' data-size='s'></span>
      </a>
    </li>
  {% endif %}
  {% if site.facebook %}
    <li>
      <a href='{{ site.facebook }}' target='_blank' rel='noopener'>
        <span class='c-social-nav__icon' data-icon='ei-sc-facebook' data-size='s'></span>
      </a>
    </li>
  {% endif %}
  {% if site.tiktok %}
    <li>
      <a href='{{ site.tiktok }}' target='_blank' rel='noopener'>
      <span class="icon icon--s c-social-nav__icon icons8-tiktok" data-size='s'></span>
      </a>
    </li>
  {% endif %}
</ul>
