<div style="background-color: rgba(249, 182, 164, 0.56);padding: 5px;border-radius: 20px;margin-top: 10px;text-align: center;9b6a4;">
    <h4>
        Aquí tu marca
        
    </h4>
    <p>
        ¿Te gustaría patrocinar un post? 
    </p>
    <p>
        Escríbeme a <a href="mailto:info@madrescabreadas.com"><strong>info@madrescabreadas.com</strong></a>.
    </p>
</div>
