<div class='c-subscribe'>
  <form method='post'
        target='_blank'
        class='c-subscribe-form'
        action='//gmail.us20.list-manage.com/subscribe/post?u=10d9dc33eda90af955f11574d&amp;id=38e71df09c'
        rel='noopener'>
    <div class='form-group'>
      <input type='email' name='EMAIL' class='c-subscribe-form__input' placeholder='Email'>

      <input type='submit' class='c-subscribe-form__btn c-btn c-btn--active c-btn--full' value='Suscribirme con regalo!'>
          </div>
  </form>
</div>
