// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #f9b6a4;
$color-white: #FFFFFF;
$color-black: #404041;
$color-text:  #222222;
$color-gray:  #5D738D;

// Background Colors
$bg-gray:         #f6f3eb;
$bg-gray-dark:    $color-gray;
$bg-white:        $color-white;
$bg-dark-opacity: rgba($color-black, .1);

// Border
$color-border: #ECF0F1;

// Links
$color-link: $color-text;

// Social

$color-twitter:   #1DA1F2;
$color-facebook:  #3B5998;
$color-linkedin:  #0077B5;
$color-pinterest: #BD081C;
$color-whatsapp: #25D366;
$color-instagram: #3f729b;
