/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  padding: double($base-spacing-unit) 0;

  @include mq($from: tablet) {
    padding: (double($base-spacing-unit) + $base-spacing-unit) 0;
  }

  @include mq($from: desktop) {
    padding: double($base-spacing-unit) 0;
  }
}