/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  @include mq($from: tablet) {
    margin: 0 auto;
    text-align: center;
    margin-bottom: double($base-spacing-unit);
  }

  &__link {
    display: block;
    color: $color-brand;
    font-family: $font-serif;
    font-size: double($font-size-tiny);
    transition: color $global-transition ease-in-out;

    @include mq($from: tablet) {
      font-size: double($font-size-base);
    }

    @include attention() {
      color: $color-black;
    }
  }

  &__img {
    max-height: quadruple($base-spacing-unit);

    @include mq($from: tablet) {
      margin: 0 auto;
      max-height: sextuple($base-spacing-unit);
    }

    @include mq($from: desktop) {
      max-height: octuple($base-spacing-unit);
    }
  }
}
