/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/

.c-nav {
  @include mq($from: tablet) {
    position: relative;
    z-index: 1;
    display: inline-block;
    line-height: 1;
    background-color: $color-white;
    padding: 0px double($base-spacing-unit);

    &-wrap {
      text-align: center;

      &:after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: $color-border;
        width: 100%;
        top: 50%;
        left: 0px;
      }
    }
  }

  &__item {
    font-size: $font-size-small;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include mq($from: tablet) {
      display: inline-block;

      &:not(:last-child) {
        margin-right: $base-spacing-unit;
      }
    }

    @include mq($until: tablet) {
      display: block;
    }
  }

  &__link {
    display: block;
    transition: $global-transition;

    @include mq($until: tablet) {
      padding: quarter($base-spacing-unit) 0;
    }

    &--current {
      color: $color-brand;

      .home-template &:not(:hover) {
        color: $color-link;
      }
    }

    @include attention() {
      color: $color-brand;
    }
  }

  &__link_pink {
    color: #f9b6a4;
  }

  &__link_blue {
    color: #118797;
  }

  &__icon {
    vertical-align: middle;
  }
}