/*------------------------------------*\
  Components > Post Card
\*------------------------------------*/

.c-post-card {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: double($base-spacing-unit);

  &-wrap {
    display: flex;
  }

  &__media {
    overflow: hidden;
    background-color: $bg-gray;
    box-shadow: 1px 1px 1px #ddd;
    margin-bottom: $base-spacing-unit;
  }

  &__image {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all $global-transition ease-in-out;

    &.js-fadein {
      opacity: 0;
    }

    &.is-inview {
      opacity: 1;
    }

    &:before {
      transition: $global-transition;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      content: '';
      background-color: $color-black;
      opacity: 0;
    }

    &:after {
      display: block;
      content: '';
      width: 100%;
      padding-bottom: 75%;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__tags {
    float: left;
    padding-left: half($base-spacing-unit);
    margin-top: $base-spacing-unit + quarter($base-spacing-unit);
    margin-bottom: half($base-spacing-unit) + quarter($base-spacing-unit) + half(quarter($base-spacing-unit));
    border-left: 2px solid $color-brand;
    line-height: 1;
    font-size: $font-size-tiny;
    color: $color-gray;
    text-transform: uppercase;
    letter-spacing: $global-letter-spacing;

    a {
      text-transform: uppercase;
      color: $color-gray;
      margin-right: quarter($base-spacing-unit);
      margin-left: quarter($base-spacing-unit);

      &:first-child {
        margin-left: 0;
      }

      @include attention() {
        color: $color-text;
      }
    }
  }

  &__share {
    float: right;
    position: relative;
    top: $base-spacing-unit - half(quarter($base-spacing-unit));
    right: - quarter($base-spacing-unit);
    opacity: 0;
    transition: all $global-transition ease-in-out;
  }

  &__share-icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
  }

  &__title-link {
    border-bottom: 1px solid transparent;
    transition: border-bottom $global-transition ease-in-out;
  }

  &__title {
    clear: both;
    margin-bottom: $base-spacing-unit - half(quarter($base-spacing-unit));
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    transition: $global-transition;
  }

  &__excerpt {
    display: none;
    margin-bottom: 0;
    color: $color-gray;
    font-size: $font-size-small;
    line-height: $line-height-small;
  }

  &__meta {
    line-height: 1;
    font-size: $font-size-tiny;
    color: $color-gray;
    text-transform: uppercase;
    letter-spacing: $global-letter-spacing;
  }

  &__author {
    display: inline-block;

    a {
      color: $color-gray;

      @include attention() {
        color: $color-text;
      }
    }

    &:before {
      content: '/';
      display: inline-block;
      padding-left: quarter($base-spacing-unit);
      margin-right: half($base-spacing-unit);
    }
  }

  &--featured {
    &__icon {
      position: absolute;
      bottom: $base-spacing-unit;
      left: $base-spacing-unit;
      fill: $color-white;
      background-color: rgba($color-black, .05);
    }
  }

  @include attention() {
    .c-post-card__image {
      transform: scale(1.01);
    }

    .c-post-card__image:before {
      opacity: .1;
    }

    .c-post-card__share {
      opacity: 1;
    }

    .c-post-card__title-link {
      color: $color-text;
      border-bottom: 1px solid $color-brand;
    }
  }
}

// Home Page Second Post Card

.c-post-card--half {
  @include mq($from: desktop) {
    .c-post-card__image:after {
      padding-bottom: 118%;
    }
  }
}

// Home Page First Wide Post Card

.c-post-card--first {
  @include mq($from: desktop) {
    .c-post-card__image:after {
      padding-bottom: 56.25%;
    }
  }
}


.c-post-card-section {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: double($base-spacing-unit);

  &-wrap {
    display: flex;
  }

  &-minipost {
    /* display: flex;
    flex-direction: row; */
  }

  &-list {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  &__media {
    overflow: hidden;
    background-color: $bg-gray;
    box-shadow: 1px 1px 1px #ddd;
    width: 100%;
  }

  &__image {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all $global-transition ease-in-out;

    &.js-fadein {
      opacity: 0;
    }

    &.is-inview {
      opacity: 1;
    }

    &:before {
      transition: $global-transition;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      content: '';
      background-color: $color-black;
      opacity: 0;
    }

    &:after {
      display: block;
      content: '';
      width: 100%;
      padding-bottom: 75%;
    }
  }

  &__content {
    flex-grow: 1;
    padding: 1%;
    margin-top: $base-spacing-unit + quarter($base-spacing-unit);
  }

  &__tags {
    float: left;
    padding-left: half($base-spacing-unit);
    margin-top: $base-spacing-unit + quarter($base-spacing-unit);
    margin-bottom: half($base-spacing-unit) + quarter($base-spacing-unit) + half(quarter($base-spacing-unit));
    border-left: 2px solid $color-brand;
    line-height: 1;
    font-size: $font-size-tiny;
    color: $color-gray;
    text-transform: uppercase;
    letter-spacing: $global-letter-spacing;

    a {
      text-transform: uppercase;
      color: $color-gray;
      margin-right: quarter($base-spacing-unit);
      margin-left: quarter($base-spacing-unit);

      &:first-child {
        margin-left: 0;
      }

      @include attention() {
        color: $color-text;
      }
    }
  }

  &__share {
    float: right;
    position: relative;
    top: $base-spacing-unit - half(quarter($base-spacing-unit));
    right: - quarter($base-spacing-unit);
    opacity: 0;
    transition: all $global-transition ease-in-out;
  }

  &__share-icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
  }

  &__title-link {
    border-bottom: 1px solid transparent;
    transition: border-bottom $global-transition ease-in-out;
  }

  &__title {
    clear: both;
    /* margin-bottom: $base-spacing-unit - half(quarter($base-spacing-unit)); */
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    transition: $global-transition;
  }

  &__excerpt {
    display: none;
    margin-bottom: 0;
    color: $color-gray;
    font-size: $font-size-small;
    line-height: $line-height-small;
  }

  &__meta {
    line-height: 1;
    font-size: $font-size-tiny;
    color: $color-gray;
    text-transform: uppercase;
    letter-spacing: $global-letter-spacing;
  }

  &__author {
    display: inline-block;

    a {
      color: $color-gray;

      @include attention() {
        color: $color-text;
      }
    }

    &:before {
      content: '/';
      display: inline-block;
      padding-left: quarter($base-spacing-unit);
      margin-right: half($base-spacing-unit);
    }
  }

  &--featured {
    &__icon {
      position: absolute;
      bottom: $base-spacing-unit;
      left: $base-spacing-unit;
      fill: $color-white;
      background-color: rgba($color-black, .05);
    }
  }

  @include attention() {
    .c-post-card-section__image {
      transform: scale(1.01);
    }

    .c-post-card-section__image:before {
      opacity: .1;
    }

    .c-post-card-section__share {
      opacity: 1;
    }

    .c-post-card-section__title-link {
      color: $color-text;
      border-bottom: 1px solid $color-brand;
    }
  }
}
