/*------------------------------------*\
  Components > Post
\*------------------------------------*/

.c-post {
  padding-top: double($base-spacing-unit);
  margin-bottom: double($base-spacing-unit);

  &.page {
    max-width: 700px;
    margin: 0 auto;
  }

}

.c-post .c-content img[data-action="zoom"] {
    display: block;
    width: 100%;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px #ddd;
}