/*------------------------------------*\
  Components > Share Icons
\*------------------------------------*/

.c-share {
  display: flex;

  &__item {
    flex: 1;
    text-align: center;

    &:not(:last-child) {
      border-right: quarter($base-spacing-unit) solid $color-white;
    }
  }

  &__link {
    display: block;
    padding: quarter($base-spacing-unit);
    background-color: $bg-white;
    transition: $global-transition;

    @include attention() {
      opacity: .8;
    }

    &--twitter {
      background-color: $color-twitter;
    }

    &--facebook {
      background-color: $color-facebook;
    }

    &--pinterest {
      background-color: $color-pinterest;
    }
    &--whatsapp {
      background-color: $color-whatsapp;
    }
    &--instagram {
      background-color: $color-instagram;
    }
  }

  &__icon {
    vertical-align: middle;
    fill: $color-white;
  }
}