---
layout: default
---
<span itemscope itemtype="http://schema.org/Article">

{% include base_path %}

{% assign author = site.authors[page.author] %}

  {% if page.image %}
    <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
  {% endif %}

  {% include post-hero.html %}

  <div class='o-wrapper'>
    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--2-3-m'>
        <article class='c-post'>

          <div class='c-content'>
            <span itemprop="articleBody">
              {{ content }}
            </span>
            {% include sponsor-call.html %}
          </div>

          <div class='o-grid'>
            <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--3-4-l'>
              <div class='c-tags'>
                {% for tag in page.tags %}
                  <a href='{{ site.baseurl }}/tag/{{ tag }}/'>{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
            <div class='o-grid__col o-grid__col--4-4-s o-grid__col--1-4-m o-grid__col--1-4-l'>
              {% include share.html %}
            </div>
          </div>

          <hr>

          {% include disqus.html %}

        </article>
      </div>

      <div class='o-grid__col o-grid__col--1-3-m'>
          {% include sidebar.html %}
      </div>
    </div>
  </div>
</span>