---
layout: portal
tag_page: true
pagination:
  enabled: true
  debug: false
---

<div class='o-wrapper'>
  <!--
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-archive'>
        <h4 class='c-archive__title'>Posts sobre {% if page.autopages %}{{page.autopages.display_name}}{% endif %} en {{ site.title }}</h4>
      </div>
    </div>
  </div>
  -->

  <div class='o-grid js-grid'>
    {% for post in paginator.posts %}
      {% include post-card.html %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>




