<div class='c-widget'>
  <h5 class='c-widget__title'>Posts relacionados</h5>

{% assign maxRelated = 4 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      <a href='{{ post.url }}' class='c-teaser no-before'>
        <div class='c-teaser__content'>
          <h3 class='c-teaser__title'>{{ post.title }}</h3>
          <time class='c-teaser__date' datetime='{{ post.date | date: '%d %b %Y' }}' title='{% include locale-date-short.html date=post.date %}'>{% include locale-date-short.html date=post.date %}</time>
        </div>
        {% if post.image %}
          <div class='c-teaser__media'>
            <div class='c-teaser__image js-fadein' style='background-image: url({{ post.image | prepend: site.baseurl }})' aria-label='{{ post.title }}'></div>
          </div>
        {% endif %}
      </a>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}

</div>