<div class='c-widget'>
  <h5 class='c-widget__title'>Posts recientes</h5>

  {% for post in site.posts limit:4 %}
    {% if post.url != page.url %}
      <a href='{{ post.url }}' class='c-teaser'>
        <div class='c-teaser__content'>
          <h3 class='c-teaser__title'>{{ post.title }}</h3>
          <time class='c-teaser__date' datetime='{{ post.date | date: '%d %b %Y' }}' title='{% include locale-date-short.html date=post.date %}'>{% include locale-date-short.html date=post.date %}</time>
        </div>
        {% if post.image %}
          <div class='c-teaser__media'>
            <div class='c-teaser__image js-fadein' style='background-image: url({{ post.image | prepend: site.baseurl }})' aria-label='{{ post.title }}'></div>
          </div>
        {% endif %}
      </a>
    {% endif %}
  {% endfor %}
</div>