<div class='c-widget'>
  <h3 class='c-widget__title'>Tiempo de lectura </h3>


<div class="reading-time" title="Estimated read time">
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    1 minuto
  {% else %}
    {{ words | divided_by:180 }} minutos
  {% endif %}
</div>

</div>