<div class='c-widget'>
  <h3 class='c-widget__title'>Suscríbete: regalo e-book</h3>
<div class='c-subscribe'>
  <form method='post'
        target='_blank'
        style="border:none !important"
        class='c-subscribe-form'
        action='//gmail.us20.list-manage.com/subscribe/post?u=10d9dc33eda90af955f11574d&amp;id=38e71df09c'>
    <div class='form-group'>
      <input type='email' name='EMAIL' class='c-subscribe-form__input' placeholder='Email'>

      <input type='submit' class='c-subscribe-form__btn c-btn c-btn--active c-btn--full' value='Suscribirme con regalo!'>
          </div>
  </form>
</div>
</div>
